{% extends "admin/change_list.html" %}

{% block object-tools %}
    {{ block.super|safe }}

    <script>
        // Находим список кнопок
        const ul = document.querySelector('.object-tools');

        if (ul) {
            // Создаём кнопку Импорт CSV
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = "{% url 'admin:task_import_csv' %}";
            a.className = "addlink";
            a.textContent = "Импорт CSV";
            li.appendChild(a);

            // Находим кнопку ADD TASK
            const addTaskLi = ul.querySelector('li');

            // Вставляем Импорт CSV перед ADD TASK
            ul.insertBefore(li, addTaskLi);

            // Уменьшаем расстояние между кнопками
            li.style.marginRight = "-8px"; 
            
        }
    </script>
{% endblock %}
